.offset {
  padding-top: 60px;
}

p smaller {
  font-size: 70%;
}

.infobutton {
  cursor: pointer !important;
}

.white {
  color: white !important;
}

.gray {
  color: rgb(150, 150, 150) !important;
}

.bold {
  font-weight: bold;
}

#collapse {
  padding-bottom: 10px;
}