.row {
  display: flex;
}

.column {
  flex: 1;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.small-caps {
  font-variant: small-caps;
}

.font-small {
  font-size: 13px;
}

.font-large {
  font-size: 25px;
}

.cursor {
  cursor: pointer;
}

.has-tooltip {
  color: hsl(204, 62%, 40%) !important;
}

.has-tooltip:hover{
  color: hsl(204, 64%, 28%) !important;
}


.has-tooltip a {
  text-decoration: none;
  color: hsl(204, 62%, 40%) !important;
}

.has-tooltip a:hover {
  text-decoration: none;
  color: hsl(204, 64%, 28%) !important;
}
