.resume {
  display: inline-block;
  background-color: white;
  width: 850px;
  height: 1200px;
  margin: 50px 0;
  padding: 75px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, .2);
  text-align: left;
}

.resume ul {
  margin: 0 -15px 15px -15px;
  padding-left: 30px;
}

.center {
  text-align: center;
}

.round {
  border-radius: 10px;
}
